body {
    color: #2d2d2d;
    font-family: "Arial";
    font-style: normal;
    background: #F2F2F2;
    margin: 50px 30px 10px 30px;
    text-align: center;
}

#key {
    text-align: justify;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#key:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#key li {
    display: inline-block;
}
