body {
    color: #2d2d2d;
    font-family: "Fira Sans";
    font-style: normal;
    background: #F2F2F2;
    margin: 50px 30px 10px 30px;
    text-align: center;
}

/*ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}*/

#nav {
    text-align: justify;
    min-width: 500px;
}
#nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#nav li {
    display: inline-block;
}
