body {
    color: #2d2d2d;
    font-family: "Arial";
    font-style: normal;
    background: #F2F2F2;
    margin: 50px 30px 10px 30px;
}

table {
    text-align: centre;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
  padding: 5px;
}

a:link {
    color: #6699CC;
    text-decoration: none;
}

a:visited {
    color: #660099;
}
