body {
    color: #2d2d2d;
    font-family: "Arial";
    font-style: normal;
    background: #F2F2F2;
    margin: 50px 30px 10px 30px;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 0px
    border-collapse: collapse;
}

th, td {
  padding: 10px;
}

a:link {
    color: #6699CC;
    text-decoration: none;
}

a:visited {
    color: #660099;
}
